/* START: FULLWIDTH HEADER IMAGE */
.jumbotron.myaccount-jumbo {
    background-image: url("/DDWT18_final/resources/headers/my-account-header.jpeg");
}
/* END: FULLWIDTH HEADER IMAGE */


/* BEGIN: STYLING FOR THE MAIN ROW */

.main-row {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* END: STYLING FOR THE MAIN ROW */


/* BEGIN: STYLING FOR THE COLUMNS */

.left-column {
    background-color: white;
    height: 500px;

}

.top-right-box {
    background-color: white;
    height: 200px;
}

.bottom-right-box {
    background-color: white;
    height: 300px;
}
/* END: STYLING FOR THE COLUMNS */