/* START: FULLWIDTH HEADER IMAGE */
.jumbotron.myaccount-jumbo {
    background-image: url("/DDWT18_final/resources/headers/my-account-header.jpeg");
}
/* END: FULLWIDTH HEADER IMAGE */


/* BEGIN: STYLING FOR THE MAIN ROW */

.main-row {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* END: STYLING FOR THE MAIN ROW */


/* BEGIN: STYLING FOR THE COLUMNS */
.personal-column, .info-column {
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
}
.personal-col-wrapper {
    padding: 0;
}
/* END: STYLING FOR THE COLUMNS */

/* START: typography */
.capitalize {
    text-transform: capitalize;
}
h3.name, h3.optin {
    color: #353558;
    text-align: center;
    margin-bottom: 15px;
}
h4.bio {
    color: #353558;
    font-size: 20px;
}
p.bio {
    font-style: italic;
}
p.personal-text {
    color: #353558;
    display: block;
    overflow: hidden;
}
.fas {
    color: #f26b3a;
    margin-right: 10px;
    float: left;
    margin-top: 5px;
}
/* END: typography */

/* Button styling */
.edit-btn {
    color: white;
    background-color: #f26b3a;
    border-radius: 4px;
    border: 1px solid #f26b3a;
}
.edit-btn:hover {
    color: #f26b3a;
    background-color: #fff;
}
.edit-btn:focus {
    outline: 0;
}
.edit-btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

/* START: optin sections */
.optin-thumb-wrapper {
    height: 170px;
}
.optin-row img {
    object-fit: cover;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
}
.optin-row h4 {
    font-size: 18px;
    font-weight: 600;
}
.optin-info-col p {
    margin-bottom: 5px;
}
.optin-info-col p.price {
    font-weight: 700;
    color: #f26b3a;
}
h5.message {
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 3px;
}
a.view-room {
    color: #fff!important;
    background-color: #f26b3a;
    border-radius: 4px;
    border: none;
    margin-top: 15px;
    padding: 6px 10px 6px 10px;
    text-decoration: none;
}
a.view-room:focus {
    outline: 0;
}

hr.bottom-hr {
    margin-top: 25px;
    margin-bottom: 20px;
}
.viewroom-btn-wrapper {
    margin-top: 20px;
}
.no-optin {
    color: #ff0000;
}
/* END: optin sections */

/* responsive */
@media screen and (max-width: 575px) {
    .main-row {
        margin-top: 0;
    }
}
@media screen and (max-width: 991px) {
    .personal-col-wrapper {
        margin-bottom: 20px;
    }
    .optin-thumb-wrapper {
        height: 250px;
        margin-bottom: 20px;
    }
}

















