/* START: FULLWIDTH HEADER IMAGE */
.jumbotron.myaccount-jumbo {
    background-image: url("/DDWT18_final/resources/headers/my-account-header.jpeg");
}
/* END: FULLWIDTH HEADER IMAGE */

div.btn-wrapper {
    margin-top: 31px;
}

/* responsive */
@media screen and (max-width: 767px) {
    .add-row {
        padding-left: 20px;
        padding-right: 20px;
    }
}













