/* Form */
.form-row {
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
}
textarea {
    height: 150px;
}
textarea:focus {
    outline: 0;
    border: 1px solid #f26b3a;
}
input:focus {
    outline: 0;
    border: 1px solid #f26b3a;
}
textarea {
    padding-top: 8px;
}
label {
    font-weight: 600;
    color: #353558;
    margin-bottom: 8px;
    font-size: 15px;
    width: 100%;
}
input, textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    padding-left: 10px;
}
input {
    height: 40px;
}
textarea {
    min-height: 150px;
}
textarea:focus {
    outline: 0;
    border: 1px solid #f26b3a;
}
.single-col h3 {
    color: #f26b3a;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 15px;
}

/* file upload */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
    justify-content: center;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.upload-btn-wrapper button {
    background-color: #5c5cdc;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* button */
button:focus {
    outline: 0;
}
button {
    width: 200px;
    color: white;
    height: 40px;
    background-color: #f26b3a;
    border-radius: 4px;
    margin: 0 auto 0 auto;
    border: none;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
input[type=file]::before {
    display: none!important;
}

/* Col */
.single-col {
    background-color: #fff;
    border-radius: 3px;
    margin-top: 100px;
    padding: 60px 25px 25px 25px;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


/* START: LOGO */
.apr-logo {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    width: 120px;
    height: 120px;
    border: solid 2px #f26b3a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.apr-logo img {
    width: 65%;
    height: auto;

}
/* END: LOGO */
