/* START: FULLWIDTH HEADER IMAGE */
.jumbotron {
    color: white;
    background-image: url("/DDWT18_final/resources/home-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.home-jumbo:before {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}
@media screen and (min-width: 992px) {
    .home-jumbo {
        padding-top: 71px;
        padding-bottom: 71px;
    }
    .jumbotron {
        height: 500px;
    }
    .home-jumbo:before {
        height: 500px;
    }
    .hero-container {
        padding-top: 25px;
    }
}
@media screen and (min-width: 768px) {
    .home-jumbo {
        padding-top: 71px;
        padding-bottom: 71px;
    }
    .home-jumbo:before {
        height: 400px;
    }
    .jumbotron {
        height: 400px;
    }
    .hero-container {
        padding-top: 40px;
    }
}
@media screen and (max-width: 767px) {
   .home-jumbo {
        height: 250px;
    }
    .home-jumbo:before {
        height: 250px;
    }
    .hero-text h1 {
        font-size: 45px;
    }
    .hero-text h2 {
        font-size: 25px;
    }
    .hero-container {
        padding-top: 40px;
    }
}
@media screen and (min-width: 768px) {
    .hero-text h1 {
        font-size: 60px;
    }
}

.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero-text {
    text-align: center;
}
.hero-text h1 {
    font-family: 'Vidaloka', serif;
}
/* END: FULLWIDTH HEADER IMAGE */