/* START: FULLWIDTH HEADER IMAGE */
.jumbotron.home-jumbo {
        background-image: url("/DDWT18_final/resources/headers/home-header.jpg");
}
/* END: FULLWIDTH HEADER IMAGE */

/* START: HOME BUTTON SECTION */
.home-button-section .row {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #fff;
}
.hb-1 {
    background-color: #f26b3a;
}
.hb-2 {
    background-color: #5c5cdc;
}
.home-btn img {
    max-height: 40px;
    padding-right: 20px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.home-btn:hover img {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}
.home-btn {
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    min-width: 293px;
}
.home-btn p {
    color: #fff;
    margin-bottom: 0;
    font-size: 22px;
}
.home-btn-col {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.home-btn-col a:hover {
    text-decoration: none;
}

@media screen and (max-width: 628px) {
    .hb-1 {
        margin-bottom: 15px;
    }
    .hb-2 {
        justify-content: left;
    }
}

/* END: HOME BUTTON SECTION */

/* START: text section */
.intro-text-container {
    background-color: #5c5cdc;
}
.intro-text-col {
    padding: 70px 0 85px 0;
}
.intro-text-container h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
}
p.intro-text {
    color: #fff;
    font-size: 18px;
}
p.intro-text:last-of-type {
    margin-bottom: 37px;
}
a.intro-btn {
    color: #fff;
    padding: 12px 20px 12px 20px;
    border: 1px #fff solid;
    border-radius: 50px;
    font-size: 17px;
}
a.intro-btn:hover {
    text-decoration: none;
}
@media screen and (max-width: 575px) {
    .intro-text-col {
        padding: 40px;
    }
    .intro-btn-wrapper {
        display: flex;
        justify-content: center;
    }
}
/* END: text section */

/* START: counter section */
.counter-inner-col {
    padding: 20px;
    margin: 20px;
}
.counter-icon {
    font-size: 50px;
    width: 100%;
    text-align: center;
}
.counter-text {
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width: 575px) {
    .counter-inner-col {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
}
/* END: counter section */
