/* START: FULLWIDTH HEADER IMAGE */
.jumbotron.home-jumbo {
        background-image: url("/DDWT18_final/resources/headers/home-header.jpg");
}
/* END: FULLWIDTH HEADER IMAGE */

/* START: HOME BUTTON SECTION */
.home-button-section {

}
.home-button-section .row {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff;
}
.home-btn {
    padding: 20px;
}
.hb-1 {
    background-color: #f26b3a;
}
.hb-2 {
    background-color: #5c5cdc;
}
.home-btn img {
    max-height: 40px;
    padding-right: 15px;
    float: left;
}
.home-btn {
    border-radius: 3px;
}
.home-btn p {
    color: #fff;
    height: 50px;
}
/* END: HOME BUTTON SECTION */



footer {
    margin-top: 200px;
}