/* Top column (contains logo) */
.top-col {
    z-index: 10;
    background-color: #fff;
    padding: 32px 32px 0px 32px;
}

/* Columns with input content */
.register-col {
    background-color: #fff;
    padding: 24px 32px 16px 32px;
}

/* Wrapper column (contains all inner sections) */
.wrapper-col {
    margin-top: 100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* START: General typography */
.wrapper-col a {
    display: block;
    text-align: center;
    color: #f26b3a;
    font-weight: bold;
    font-size: 16px;
}
h3.section-heading {
    color: #f26b3a;
    font-size: 20px;
    padding-bottom: 10px;
}
h2.heading {
    font-size: 22px;
    font-weight: bold;
    color: #353558;
    display: inline-block;
}
/* END: General typography */

/* START: LOGO */
.apr-logo {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    width: 120px;
    height: 120px;
    border: solid 2px #f26b3a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apr-logo img {
    width: 65%;
    height: auto;

}
/* END: LOGO */

/* Sign in */
.alt-option-div  {
    float: right;
    font-size: 15px;
    color: #f26b3a;
    font-weight: bold;
}

/*
   START: CHECKBOX SECTION
   Styling partially from: https://freefrontend.com/css-radio-buttons/
*/
.checkbox-section {
    padding-bottom: 20px;
}
.inputGroup {
    background-color: #fff;
    display: block;
    position: relative;
    border: 1px solid #f2f2f2;
}
.inputGroup:first-child {
    border-bottom: none;
}
.inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    margin: 0;
}
.inputGroup label:after {
    width: 24px;
    height: 24px;
    content: '';
    border: 1px solid #f26b3a;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
    color: #fff;
    background-color: #5c5cdc;
}
.inputGroup input:checked ~ label:after {
    background-color: #f26b3a;
    border-color: #ffffff;
}
.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}
/* END: CHECKBOX SECTION */