/* START FORM BOX */
.form-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 100px auto;
}
@media screen and (min-width: 575px) {
    .form-box {
        max-width: 450px;
    }
}
@media screen and (max-width: 574px) {
    .form-box {
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* END FORM BOX */

/* START LOGIN BOX */
.login-box {
    position: relative;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    width: 100%;
    height: 300px;
    padding: 16px 32px;
}

.heading h4 {
    font-size: 22px;
    font-weight: bold;
    color: #353558;
    display: inline-block;
    padding: 48px 0 24px;
}

/* END LOGIN BOX */

/* START LOGO ABOVE LOGIN BOX */
.apr-logo {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    width: 120px;
    height: 120px;
    border: solid 2px #f26b3a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apr-logo img {
    width: 65%;
    height: auto;

}
/* END LOGO */

/* STYLING FOR THE SIGN IN FORM */
.sing-in-form {
    display: block;
    postion: relative;
}

.form-row {
    margin-bottom: 16px;
}

.sign-in-label {
    font-weight: 600;
    color: #353558;
    margin-bottom: 8px;
    font-size: 15px;
    width: 100%;
}

.form-input {
    width: 100%;
}

input:focus {
    outline: 0;
    border: 2px solid #f26b3a;
}
/* END OF THE SIGN IN FORM */