/* START: MAIN CSS */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}
/* END: MAIN CSS */

/* START: FOOTER */
footer {
    padding-top: 16px;
    background-color: #fff;
}
.footer-img-wrapper {
    display: flex;
    justify-content: center;
}
/* END: FOOTER */


/* START: NAVIGATION */

/* Navigation bar logo image */
.navbar-logo {
    max-height: 45px;
}

/* Navigation bar */
.navbar {
    border-bottom: 1px solid #f2f2f2;
    background-color: #fff;
}

/* Navigation bar active link */
.navbar-light .navbar-nav .active>.nav-link {
    color: #353558;
}

/* Navbar left padding > 1200 px */
@media screen and (min-width: 1200px) {
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (min-width: 992px) {
    .navbar .mr-auto {
        margin-right: 0!important;
        margin-left: auto;
    }
}

/* END: NAVIGATION */

/* START: FULLWIDTH HEADER IMAGE */
.jumbotron {
    color: white;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}
.jumbotron:before {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}
@media screen and (min-width: 992px) {
    .jumbotron {
        padding-top: 71px;
        padding-bottom: 71px;
    }
    .jumbotron {
        height: 500px;
    }
    .jumbotron:before {
        height: 500px;
    }
    .hero-container {
        padding-top: 70px;
    }
}
@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 71px;
        padding-bottom: 71px;
    }
    .jumbotron:before {
        height: 400px;
    }
    .jumbotron {
        height: 400px;
    }
    .hero-container {
        padding-top: 70px;
    }
}
@media screen and (max-width: 767px) {
   .jumbotron {
        height: 250px;
    }
    .jumbotron:before {
        height: 250px;
    }
    .hero-text h1 {
        font-size: 45px;
    }
    .hero-text h2 {
        font-size: 25px;
    }
    .hero-container {
        padding-top: 70px;
    }
}
@media screen and (min-width: 768px) {
    .hero-text h1 {
        font-size: 60px;
    }
}

.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero-text {
    text-align: center;
}
.hero-text h1 {
    font-family: 'Vidaloka', serif;
}
/* END: FULLWIDTH HEADER IMAGE */

/* START: fade-in error message on top of screen */
.error-fade {
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 72px;
    overflow: hidden;
    margin-top: -22px;
    pointer-events: none;

    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}
.error-fade .alert {
    height: 100%!important;
    padding-top: 25px;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(22px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(22px); }
}

/* END: fade-in error message on top of screen*/

/* START: modal */
.modal-body p {
    margin-bottom: 0;
}
/* END: modal */