/* START: NAVIGATION */

/* Navigation bar logo image */
.navbar-logo {
    max-height: 45px;
}

/* Navigation bar */
.navbar {
    border-bottom: 1px solid #f2f2f2;
}

/* Navigation bar active link */
.navbar-light .navbar-nav .active>.nav-link {

}

/* END: NAVIGATION */