
/* NOTE: See single-room-header.php for a dynamically loaded header based on the room */

/* Single room row */
.sr-row {
    background-color: #fff;
}
.r1, .r2 {
    margin-bottom: 35px;
}
.r3 {
    margin-bottom: 50px;
}

/* add border radius in bigger screens */
@media screen and (min-width: 576px) {
    .sr-row {
        border-radius: 3px;
        padding: 20px 20px 0 20px;
    }
    .sr-row img {
        border-radius: 3px;
    }
    .map-row {
        border-radius: 3px;
    }
}

/* START: Slider */

/* slider col */
.slider-col {
    padding: 0px 15px 0 15px;
    height: 475px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 400px;
    max-height: 400px;
}

/* Hide the images by default */
.slides {
    display: none;
}

/* dots */
.dot-wrapper {
    text-align: center;
    position: relative;
}
span.dot {
    margin-left: 4px;
    margin-right: 4px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: -6px;
    width: auto;
    padding: 2px 23px 2px 23px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 3px;

}
a.next:hover, a.prev:hover {
    color: #f26b3a!important;
}
a.next, a.prev {
    color: #fff!important;
    background-color: #353558;
    opacity: 0.8;
}

/* Slider control wrapper */
.slider-controls {
    max-width: 265px;
    margin: 25px auto 0 auto;
}

/* Prev next button positions */
.next {
    right: 0;
}
.prev {
    left: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    opacity: 0.8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.sr-row .active, .dot:hover {
    background-color: #f26b3a;
    opacity: 0.8;
}

/* Fading animation */
.slider-slider-fade {
    -webkit-animation-name: slider-fade;
    -webkit-animation-duration: 1.5s;
    animation-name: slider-fade;
    animation-duration: 1.5s;
}

.slides {
    height: 400px;
    max-height: 400px;
}

.slides img {
    object-fit: contain;
    width: 100%;
    max-height: 400px;
}

@-webkit-keyframes slider-fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes slider-fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* END: Slider */

/* START: room information */
p.room-info {
    font-size: 17px;
    line-height: 26px;
}
.room-info {
}
.price {
    color: #f26b3a;
    font-weight: 600;
    font-size: 19px;
}
strong {
    font-weight: 600;
    margin-right: 10px;
}
.room-info span:first-of-type {
    margin-right: 20px;
}
.room-info span:nth-of-type(3) {
    float: right;
}
.description p {
    font-style: italic;
}
.red {
    color: #ff0000;
}
.room-info-col h2 {
    font-size: 26px;
}
/* END: room information */

/* START: opt-in section */
.opt-in-col textarea {
    width: 100%;
    min-height: 120px;
    border-color: #d0d0d0;
}
.opt-in-col textarea:focus {
    outline: 0;
    border: 1px solid #f26b3a;
}
h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.opt-btn-wrapper {
    text-align: center;
    margin-bottom: 15px;
}

#opt-in-btn {
    width: 200px;
    color: white;
    height: 40px;
    background-color: #f26b3a;
    border-radius: 4px;
    margin: 20px 0 15px 0;
    border: none;
}
button#opt-in-btn:focus {
    outline: 0;
    box-shadow: none;
}
/* End: opt-in section */

/* Map section */
.map-row {
    background-color: #fff;
    padding: 0;
    height: 400px;
}
.map-col {
    padding: 15px;
}

/* Responsive */
@media screen and (max-width: 575px) {
    .slider-col {
        padding-top: 25px;
    }
    .slides, .slideshow-container {
        height: 200px;
        max-height: 200px;
    }
    .slider-col {
        height: 300px;
    }
    .room-info-col h2 {
        margin-top: 20px;
    }
    h3 {
        margin-top: 20px;
    }
    .opt-btn-wrapper {
        margin-bottom: 5px;
    }
    .r1, .r2 {
        margin-bottom: 0;
    }
    .r2 {
        background-color: #f2f2f2;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .room-info-col {
        padding-left: 25px;
        padding-right: 25px;
    }
    .jumbotron {
        margin-bottom: 0!important;
    }
    .map-row {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .slides, .slideshow-container {
        height: 300px;
        max-height: 300px;
    }
    .slider-col {
        height: 380px;
    }
}
@media screen and (max-width: 991px) {
    .room-info-col {
        margin-bottom: 25px;
    }
    .slider-col {
        padding-top: 0;
    }
}

/* Edit and remove buttons */
button:focus {
    outline: 0;
    box-shadow: none;
}
.btn-edit, .btn-remove {
    color: white;
    height: 40px;
    border-radius: 4px;
    margin: 0 auto 0 auto;
    border: none;
}
.btn-edit:hover {
    color: #fff;
}
.edit-btn-wrapper {
    display: flex;
    justify-content: left;
}
@media screen and (max-width: 575px) {
    .edit-btn-wrapper {
        justify-content: center;
    }
}
.btn-edit {
    background-color: #5c5cdc;
    padding-top: 8px;
    border: 1px solid #5c5cdc;
}
.btn-remove {
    background-color: #ff3f3a;
    margin-left: 10px;
    border: 1px solid #ff3f3a;
}
.btn-remove:hover {
    color: #ff3f3a;
    background-color: #fff;
}
.btn-edit:hover {
    color: #5c5cdc;
    background-color: #fff;
}

/* opt-in message box styling */

.opt-in-message {
    text-align: center;
}

/* Veel plezier malle ginger xx flok en hylke */





















