
/* NOTE: See single-room-header.php for a dynamically loaded header based on the room */

/* Single room row */
.sr-row {
    background-color: #fff;
    margin-bottom: 50px;
}

/* add border radius in bigger screens */
@media screen and (min-width: 576px) {
    .sr-row {
        border-radius: 3px;
    }
    .slides img {
        border-top-left-radius: 3px;
    }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
    .slides img {
        border-top-right-radius: 3px;
    }
}

/* START: Slider */

/* slider col */
.slider-col {
    padding: 0;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}

/* Hide the images by default */
.slides {
    display: none;
}

/* dots */
.dot-wrapper {
    text-align: center;
}
span.dot {
    margin-left: 4px;
    margin-right: 4px;
}

/* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
a.next:hover, a.prev:hover {
    color: #f26b3a!important;
}
a.next, a.prev {
    color: #fff!important;
    background-color: #353558;
    opacity: 0.8;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.slider-slider-fade {
    -webkit-animation-name: slider-fade;
    -webkit-animation-duration: 1.5s;
    animation-name: slider-fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes slider-fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes slider-fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* END: Slider */