
/* NOTE: See single-room-header.php for a dynamically loaded header based on the room */

/* Single room row */
.sr-row {
    background-color: #fff;
    margin-bottom: 50px;
}

/* add border radius in bigger screens */
@media screen and (min-width: 576px) {
    .sr-row {
        border-radius: 3px;
        padding: 20px 20px 0 20px;
    }
    .sr-row img {
        border-radius: 3px;
    }
}

/* START: Slider */

/* slider col */
.slider-col {
    padding: 0px 15px 0 15px;
    height: 475px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 400px;
    max-height: 400px;
}

/* Hide the images by default */
.slides {
    display: none;
}

/* dots */
.dot-wrapper {
    text-align: center;
    position: relative;
}
span.dot {
    margin-left: 4px;
    margin-right: 4px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: -6px;
    width: auto;
    padding: 2px 23px 2px 23px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 3px;

}
a.next:hover, a.prev:hover {
    color: #f26b3a!important;
}
a.next, a.prev {
    color: #fff!important;
    background-color: #353558;
    opacity: 0.8;
}

/* Slider control wrapper */
.slider-controls {
    max-width: 265px;
    margin: 25px auto 0 auto;
}

/* Prev next button positions */
.next {
    right: 0;
}
.prev {
    left: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    opacity: 0.8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #f26b3a;
    opacity: 0.8;
}

/* Fading animation */
.slider-slider-fade {
    -webkit-animation-name: slider-fade;
    -webkit-animation-duration: 1.5s;
    animation-name: slider-fade;
    animation-duration: 1.5s;
}

.slides {
    height: 400px;
    max-height: 400px;
}

.slides img {
    object-fit: contain;
    width: 100%;
    max-height: 400px;
}

@-webkit-keyframes slider-fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes slider-fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* END: Slider */

/* START: room information */
p.room-info {
    font-size: 17px;
    line-height: 26px;
}
.room-info {
}
.price {
    color: #f26b3a;
    font-weight: 600;
    font-size: 19px;
}
strong {
    font-weight: 600;
    margin-right: 10px;
}
.room-info span:first-of-type {
    margin-right: 20px;
}
.room-info span:nth-of-type(3) {
    float: right;
}
/* END: room information */